<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered custom-list-data1">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase" ng-bind="title"></span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="search-bar">
            <div class="row">
                <div class="col-sm-4">
                    <a data-toggle="modal" data-target="#modal_addrow" class="btn-green btn-green-trans btn-add">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Tạo mới</span>
                    </a>
                </div>

                <div class="col-sm-8 c-boxctr-search">
                    <input type="text" placeholder="Title" class="form-control search_title">
                    <button class="btn-ctrl btn-cyan-trans btn-search" type="button" ng-click="search_datatable()">
                        <i class="fa fa-search"></i>
                        <span>Tìm kiếm</span>
                    </button>
                </div>
            </div>

        </div>
        <table id="tbl-data" class="table pos-hidenid table-striped table-bordered table-hover order-column" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Position</th>
                    <th>Vị trí</th>
                    <th>Tiêu đề</th>
                    <th>Hình đại diện</th>
                    <th>Ngày tạo</th>
                    <th>Trạng thái</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->

<div class="modal fade modal_cmpost" id="modal_addrow" tabindex="-1" role="dialog" aria-labelledby="modal_addrowLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_addrowLabel">Tạo mới</h4>
            </div>
            <div class="modal-body">
                <form id="form_add" autocomplete="off">
                    <div class="row">

                        <div class="col-sm-8">

                            <div class="portlet light bordered">

                                <div class="portlet-title">
                                    <div class="caption font-red-sunglo">
                                        <i class="icon-settings font-red-sunglo"></i>
                                        <span class="caption-subject bold uppercase">Thông tin</span>
                                    </div>

                                    <div class="actions box_lang_muti">
                                        <div class="btn-group">
                                            <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <span class="name_mod">Vietnam</span>
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a data-lang="vn" class="pick_lang_muti" href="javascript:;">Vietnam</a>
                                                </li>
                                                <li>
                                                    <a data-lang="en" class="pick_lang_muti" href="javascript:;">English</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="portlet-body form">
                                    <div class="form-group">
                                        <label class="lang_label">
                                            <span>Tiêu đề</span>
                                            <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                                            <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                                        </label>
                                    
                                        <input name="title" data-lang="vn" type="text" placeholder="Tiêu đề" class="form-control value_lang active">
                                    
                                        <input name="title_en" data-lang="en" type="text" placeholder="Tiêu đề (English)" class="form-control value_lang">
                                    </div>

                                    <div class="form-group">
                                        <label class="lang_label">
                                            <span>Tên nhân viên</span>
                                            <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                                            <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                                        </label>
                                    
                                        <input name="name" data-lang="vn" type="text" placeholder="Tên nhân viên" class="form-control value_lang active">
                                    
                                        <input name="name_en" data-lang="en" type="text" placeholder="Tên nhân viên (English)" class="form-control value_lang">
                                    </div>

                                    <div class="form-group">
                                        <label class="lang_label">
                                            <span>Số điện thoại</span>
                                            <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                                            <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                                        </label>
                                    
                                        <input name="phone" data-lang="vn" type="text" placeholder="Số điện thoại" class="form-control value_lang active">
                                    
                                        <input name="phone_en" data-lang="en" type="text" placeholder="Số điện thoại (English)" class="form-control value_lang">
                                    </div>

                                    <div class="form-group">
                                        <label class="lang_label">
                                            <span>Mô tả ngắn</span>
                                            <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                                            <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                                        </label>
                                    
                                        <textarea name="summary" data-lang="vn" placeholder="Nhập mô tả ngắn" class="form-control value_lang active" rows="5"></textarea>
                                    
                                        <textarea name="summary_en" data-lang="en" placeholder="Nhập mô tả ngắn (English)" class="form-control value_lang" rows="5"></textarea>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="col-sm-4">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green-sharp">
                                        <i class="icon-settings font-green-sharp"></i>
                                        <span class="caption-subject bold uppercase">Hình đại diện</span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-group">
                                        <div class="file_upload_box">
                                            <input type="file" class="file_image">
                                            <img class="image_review" src="/public/img/no-image.png" alt="...">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="next-label">Trạng thái</label>
                                <select class="form-control" name="status">
                                    <option value="0">Kích hoạt</option>
                                    <option value="1">Tạm dừng</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn_addrow"><i class="fas fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal_cmpost" id="modal_editrow" tabindex="-1" role="dialog" aria-labelledby="edit-modalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-modalLabel">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                <form id="form_edit" autocomplete="off">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn_editrow"><i class="fas fa-pencil-alt"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>