<form name="myform" id="userForm" class="row">
    <input type="text" ng-hide="true" name="_method" value="PUT">
    <div class="col-md-8">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered custom-list-data1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase" ng-bind="title"></span>
                </div>
            </div>
            <div class="portlet-body">

                <div class="row">
                    <div class="col-xs-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Tên công ty</label>
                            <input type="text" class="form-control" ng-required="true" name="name" ng-model="setting.info_website.name" >
                        </div>
                    </div>

                    <div class="col-xs-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Địa chỉ</label>
                            <input type="text" class="form-control" ng-required="true" name="address" ng-model="setting.info_website.address" >
                        </div>
                    </div>

                    <div class="col-xs-6 xs-640">
                        <div class="form-group">
                            <label class="lang_label">
                                <span>Số điện thoại</span>
                            </label>
                        
                            <input name="phone" data-lang="vn" type="text" placeholder="Enter your phone number" class="form-control value_lang active" ng-model="setting.info_website.phone">
                        </div>
                    </div>

                    <div class="col-xs-6 xs-640">
                        <div class="form-group">
                            <label class="lang_label">
                                <span>MST</span>
                            </label>
                        
                            <input name="mst" data-lang="vn" type="text" placeholder="Enter the hotline number" class="form-control value_lang active" ng-model="setting.info_website.mst">
                        </div>
                    </div>

                    <div class="col-xs-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Email</label>
                            <div vali-email name="email" ng-required="true" ng-model="setting.info_website.email" ></div>
                            <span message-email class="error" ng-show="myform.email.$error.email"></span>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="next-label">Map coordinates</label>

                            <input type="text" class="form-control" name="map" ng-model="setting.info_website.map">

                            <div class="mb-10"></div>

                            <div>
                                <a class="btn-show-map" href="#" data-toggle="modal" data-target="#modalMap">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                    <span>Show map to select location</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="next-label">google analytics</label>
                            <textarea name="google_analytics" rows="5" type="text" class="form-control" ng-model="setting.info_website.google_analytics"></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="next-label">Facebook code </label>
                            <textarea name="facebook_code" rows="5" type="text" class="form-control" ng-model="setting.info_website.facebook_code"></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="next-label">Copyright</label>
                            <input type="text" class="form-control" name="copyright" ng-model="setting.info_website.copyright" >
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

         <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered custom-list-data1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" ng-bind="title2"></span>
                </div>
            </div>
            <div class="portlet-body">

                <div class="row">
                    
                    <div class="col-md-6 col-sm-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Facebook</label>
                            <input type="text" class="form-control" name="facebook" ng-model="setting.info_website.facebook" >
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Youtube</label>
                            <input type="text" class="form-control" name="google" ng-model="setting.info_website.google" >
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Twitter</label>
                            <input type="text" class="form-control" name="twitter" ng-model="setting.info_website.twitter">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Instagram</label>
                            <input type="text" class="form-control" name="instagram" ng-model="setting.info_website.instagram">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Linkedin</label>
                            <input type="text" class="form-control" name="linkedin" ng-model="setting.info_website.linkedin">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

    </div>

    <div class="col-md-4">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Avatar</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="next-label">Logo</label>
                    <div class="file_upload_box">
                        <input name="logo" type="file" class="file_image">
                        <img class="image_review logo" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>

                <div class="form-group">
                    <label class="next-label">Logo white</label>
                    <div class="file_upload_box">
                        <input name="logo_white" type="file" class="file_image">
                        <img class="image_review logo_white" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>

                <div class="form-group image-upload" id="favicon">
                    <label class="next-label">Browser Logo (Favicon)</label>
                    <div class="file_upload_box">
                        <input name="favicon" type="file" class="file_image">
                        <img class="image_review favicon" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-12">
        <div class="form-group">
            <button type="button" class="btn blue center-mod" ng-click="submit()">
                <span class="ladda-label">
                    <i class="fa fa-save"></i> Save</span>
            <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div></button>
        </div>
    </div>

</form>

<!-- Modal -->
<div id="modalMap" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Choose company location</h4>
        </div>

        <div class="modal-body">
            <p>Click on the map to select the company location</p>
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="googleMap" style="width: 100%; height: 500px;"></div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-close width90" data-dismiss="modal">
                <i class="fa fa-close"></i>
                <span>Close</span>
            </button>

            <button type="button" class="btn btn-style width90" ng-click="apply_geolocation()">
                <i class="fa fa-check"></i>
                <span>Choose</span>
            </button>
        </div>
    </div>

    </div>
</div>