<form class="row" id="form_box">

    <div class="col-sm-8">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>

                
            </div>

            <div class="portlet-body form row">

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Họ tên</span>
                    </label>
                    <input name="name" data-lang="vn" type="text" class="form-control value_lang active" ng-model="customer.name">
                </div>

                <div class="form-group col-sm-6">
                    <label class="next-label">Trạng thái</label>
                    <select class="form-control" name="status" ng-model="customer.status">
                        <option value="0">Kích hoạt</option>
                        <option value="1">Tạm dừng</option>
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Mã hợp đồng</span>
                    </label>
                    <input name="code" data-lang="vn" type="text" class="form-control value_lang active" ng-model="customer.code">
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Tên công ty</span>
                    </label>
                    <input name="companyname" data-lang="vn" type="text" class="form-control value_lang active" ng-model="customer.companyname">
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Số điện thoại</span>
                    </label>
                    <input name="phone" id="phone" data-lang="vn" type="text" class="form-control value_lang active" ng-model="customer.phone">
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Email</span>
                    </label>
                    <input name="email" data-lang="vn" type="text" class="form-control value_lang active" ng-model="customer.email">
                </div>
                <div class="form-group col-sm-12">
                    <label class="lang_label">
                        <span>Địa chỉ</span>
                    </label>
                    <input name="address" data-lang="vn" type="text" class="form-control value_lang active" ng-model="customer.address">
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Mã website</span>
                    </label>
                    <input name="website" data-lang="vn" type="text" class="form-control value_lang active" ng-model="customer.website">
                </div>
                

                <div class="form-group col-sm-6">
                    <label class="next-label">Đối tác</label>
                    <select class="form-control" name="id_partner" id="id_partner"></select>
                </div>
                <div class="form-group col-sm-6">
                    <label class="next-label">User</label>
                    <select class="form-control" name="id_user" id="id_user"></select>
                </div>
                <div class="form-group col-sm-6">
                    <label class="next-label">Phòng ban</label>
                    <select class="form-control" name="id_usergroup" id="id_usergroup"></select>
                </div>
                <div class="form-group col-sm-6">
                    <label class="next-label">Dịch vụ</label>
                    <select class="form-control" name="id_service" id="id_service"></select>
                </div>
                <div class="form-group col-sm-6">
                    <label class="next-label">Quốc gia</label>
                    <select class="form-control" name="id_country" id="id_country"></select>
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Ngày bắt đầu</span>
                        
                    </label>

                    <input name="startdate" data-lang="vn" type="text" data-language='en' id="startdate" class="form-control value_lang active datepicker-here" ng-model="customer.startdate" readonly>
                    
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Ngày hết hạn</span>
                        
                    </label>

                    <input name="expirationdate" data-lang="vn" type="text" data-language='en' id="expirationdate" class="form-control value_lang active datepicker-here" ng-model="customer.expirationdate" readonly>
                    
                </div>
                <div class="form-group col-sm-12">
                    <label class="lang_label">
                        <span>Ghi chú</span>
                        
                    </label>
                    
                    <div class="value_lang active" data-lang="vn">
                        <textarea id="description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="lang_label">
                        <span>Mô hình kinh doanh</span>
                        
                    </label>
                    <label for="">
                        <input type="radio" id="chkPassport1" name="enterprise" value="0" ng-model="customer.enterprise"/>
                        Cá nhân
                    </label>
                    <label for="chkPassport">
                        <input type="radio" id="chkPassport" name="enterprise" value="1" ng-model="customer.enterprise"/>
                        Doanh nghiệp
                    </label>
                    
                    <div id="dvPassport" style="display: none">
                        Mã số thuế:
                        <input type="text" id="txtPassportNumber" class="form-control" name="taxcode" ng-model="customer.taxcode" />

                        Địa chỉ xuất hóa đơn:
                        <input type="text" id="txtPassportNumber" class="form-control" name="invoiceaddress" ng-model="customer.invoiceaddress" />
                    </div>
                
                </div> 

            </div>

        </div>

        

    </div>

    <div class="col-sm-4">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Hình đại diện</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <div class="file_upload_box">
                        <input type="file" class="file_image">
                        <img class="image_review" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="note">
            <form id="form_add_note" autocomplete="off">
                <div style="display: block;margin-bottom: 45px;">
                    <label for="">Ghi chú</label>
                    <textarea id="name_note" name="name_note" class="form-control" rows="4" ng-model="customer.name_note"></textarea>
                    <button type="button" style="float: right;margin-top: 5px;" class="btn_addrow_note btn btn-primary">Lưu</button>
                </div>
                
            </form>
            <div class="db-note">
                
            </div>
            
        </div>
        
    </div>

</form>
<script>
    $(function () {
        $("#chkPassport").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport").show();
            } else {
                $("#dvPassport").hide();
            }
        });
        $("#chkPassport1").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport").hide();
            } else {
                $("#dvPassport").show();
            }
        });



    });
</script>
<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>