<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered custom-list-data1">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase" ng-bind="title"></span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="search-bar">
            <div class="row">
                <div class="col-sm-4">
                    <a href="/admin/partner/new" class="btn-green btn-green-trans btn-add">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Tạo mới</span>
                    </a>
                </div>

                <div class="col-sm-8 c-boxctr-search">
                    <input type="text" placeholder="Title" class="form-control search_title">
                    <button class="btn-ctrl btn-cyan-trans btn-search" type="button" ng-click="search_datatable()">
                        <i class="fa fa-search"></i>
                        <span> Search</span>
                    </button>
                </div>
            </div>

        </div>
        <table id="tbl-data" class="table pos-hidenid table-striped table-bordered table-hover order-column" cellspacing="0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Tên đối tác</th>
                    <th>Số điện thoại</th>
                    <th>Loại đaị lý</th>
                    <th>Ngày tham gia</th>
                    <th>Trạng thái</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
<div class="modal fade modal_cmpost" id="modal_addrow" tabindex="-1" role="dialog" aria-labelledby="modal_addrowLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_addrowLabel">Tạo mới</h4>
            </div>
            <div class="modal-body">
                <form id="form_add" autocomplete="off">
                    

                    <div class="portlet light bordered">

                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-settings font-red-sunglo"></i>
                                <span class="caption-subject bold uppercase">Đối tác</span>
                            </div>
                            
                        </div>

                        <div class="portlet-body form row">

                <div class="form-group">
                    <label class="lang_label">
                        <span>Tên đối tác</span>
                        
                    </label>

                    <input name="name" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" >
                    
                </div>

                <div class="form-group">
                    <label class="next-label">Loại</label>
                    <select class="form-control" name="id_customertype" id="id_customertype_new"></select>
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Số điện thoại</span>
                        
                    </label>

                    <input name="phone" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" >
                    
                </div>
                <div class="form-group">
                    <label class="lang_label">
                        <span>Email</span>
                        
                    </label>

                    <input name="email" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" >
                    
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Địa chỉ</span>
                        
                    </label>

                    <input name="address" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" >
                    
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Ngày sinh</span>
                        
                    </label>

                    <input name="birthday" data-lang="vn" type="text" data-language='en' id="datepicker_new"  placeholder="" class="form-control value_lang active datepicker-here" readonly>
                    
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Ngày bắt đầu</span>
                        
                    </label>

                    <input name="startdate" data-lang="vn" type="text" id="datepicker1_new" data-language='en' class="form-control value_lang active datepicker-here" readonly>
                    
                </div>

                <div class="form-group">
                    <label class="next-label">Trạng thái</label>
                    <select class="form-control" name="status" >
                        <option value="0">Kích hoạt</option>
                        <option value="1">Tạm dừng</option>
                    </select>
                </div>

            </div>

                    </div>
                        
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn_addrow"><i class="fas fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal_cmpost" id="modal_editrow" tabindex="-1" role="dialog" aria-labelledby="edit-modalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-modalLabel">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                <form id="form_edit" autocomplete="off">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn_editrow"><i class="fas fa-pencil-alt"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>