<form class="row" id="form_box">

    <div class="col-sm-12">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>

                
            </div>

            <div class="portlet-body form row">

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Tên đối tác</span>
                        
                    </label>

                    <input name="name" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" ng-model="partner.name">
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="next-label">Loại</label>
                    <select class="form-control" name="id_customertype" id="id_customertype"></select>
                </div>

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Số điện thoại</span>
                        
                    </label>

                    <input name="phone" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" ng-model="partner.phone">
                    
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Email</span>
                        
                    </label>

                    <input name="email" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" ng-model="partner.email">
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Địa chỉ</span>
                        
                    </label>

                    <input name="address" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" ng-model="partner.address">
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Ngày sinh</span>
                        
                    </label>

                    <input name="birthday" data-lang="vn" type="text" data-language='en' id="datepicker"  placeholder="" class="form-control value_lang active datepicker-here" ng-model="partner.birthday" readonly>
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Ngày bắt đầu</span>
                        
                    </label>

                    <input name="startdate" data-lang="vn" type="text" id="datepicker1" data-language='en' class="form-control value_lang active datepicker-here" ng-model="partner.startdate" readonly>
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="next-label">Trạng thái</label>
                    <select class="form-control" name="status" ng-model="partner.status">
                        <option value="">--Chọn--</option>
                        <option value="0">Kích hoạt</option>
                        <option value="1">Tạm dừng</option>
                    </select>
                </div>

            </div>

        </div>

        

    </div>

    

</form>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>