@charset "UTF-8";
.navigation-list .link,
.header-bot .title,
.header-bot .list .link,
.title-wrap .title {
  text-transform: uppercase; }

.home_slider .img_box {
  position: relative;
  width: 100%;
  padding-bottom: 48%; }
  .home_slider .img_box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.cat_hiden1 {
  display: none; }

.slick-slide img {
  margin: 0 auto; }

.header-search .cart-icon {
  cursor: pointer; }

.error {
  font-size: 12px;
  color: tomato;
  font-style: italic; }

.aside-nav__list > .item .collapse-title a.active {
  color: #098d00; }

.profile-block {
  margin-top: -30px;
  margin-bottom: -30px; }

.img img {
  max-width: none;
  max-height: none;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.page-item.active .page-link {
  background-color: #098d00;
  border-color: #098d00; }

.page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #098d00;
  border-color: #098d00; }

.page-link {
  color: #b2b2b2;
  font-size: .8125rem;
  padding: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center; }

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0; }

.pagination {
  margin-top: 1rem; }

.pagination li {
  margin-right: .375rem; }

.pagination li span,
.pagination li a {
  height: 28px;
  min-width: 28px;
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #dee2e6;
  font-size: .8125rem; }

.pagination li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #098d00;
  border-color: #098d00; }

.pagination li.active span {
  color: #fff;
  text-decoration: none;
  background-color: #098d00;
  border-color: #098d00; }

.pagination li:first-child span,
.pagination li:first-child a {
  font-size: 0; }

.pagination li:first-child span:before,
.pagination li:first-child a:before {
  content: "‹";
  font-size: .8125rem; }

.pagination li:last-child span,
.pagination li:last-child a {
  font-size: 0; }

.pagination li:last-child span:before,
.pagination li:last-child a:before {
  content: "›";
  font-size: .8125rem; }

.pagination li:last-child {
  margin-right: 0; }

/*# sourceMappingURL=style.css.map */
