.profile-block .file_upload_box {
  padding: 0; }

.profile-block .img-upload .img img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  object-fit: cover; }

.profile-block .panel-aside .title-line .text {
  font-weight: 600; }

.profile-block .panel-nav .item a.active, .profile-block .panel-nav .item a:hover {
  font-weight: bold; }

.profile-block .store-dang-tin .caption_img {
  font-weight: bold; }

/*# sourceMappingURL=custom.css.map */
