<form class="row" id="form_box">

    <div class="col-sm-12">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>

                
            </div>

            <div class="portlet-body form row">

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Tên level</span>
                        
                    </label>

                    <input name="name" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" ng-model="customers_level.name">
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Chiết khấu (%)</span>
                        
                    </label>

                    <input name="discount" data-lang="vn" type="number" placeholder="" class="form-control value_lang active" ng-model="customers_level.discount">
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Tổng tiền</span>
                        
                    </label>

                    <input name="moneylandmark" id="moneylandmark" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" ng-model="customers_level.moneylandmark">
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Số lượng hợp đồng</span>
                        
                    </label>

                    <input name="numbercontracts" data-lang="vn" type="number" placeholder="" class="form-control value_lang active" ng-model="customers_level.numbercontracts">
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="next-label">Trạng thái</label>
                    <select class="form-control" name="status" ng-model="customers_level.status">
                        <option value="">--Chọn--</option>
                        <option value="0">Kích hoạt</option>
                        <option value="1">Tạm dừng</option>
                    </select>
                </div>

                <div class="form-group col-sm-12">
                    <label class="lang_label">
                        <span>Nội dung</span>
                        
                    </label>
                    
                    <div class="value_lang active" data-lang="vn">
                        <textarea id="description" class="form-control"></textarea>
                    </div>
                </div>

                

            </div>

        </div>
    </div>

    

</form>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>