<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered custom-list-data1">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase" ng-bind="title"></span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="search-bar">
            <div class="row">
                <div class="col-sm-4">
                    <a data-toggle="modal" data-target="#modal_addrow" class="btn-green btn-green-trans btn-add">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Tạo mới</span>
                    </a>
                </div>

                <div class="col-sm-8 c-boxctr-search">
                    <input type="text" placeholder="Title" class="form-control search_title">
                    <button class="btn-ctrl btn-cyan-trans btn-search" type="button" ng-click="search_datatable()">
                        <i class="fa fa-search"></i>
                        <span> Search</span>
                    </button>
                </div>
            </div>

        </div>
        <table id="tbl-data" class="table pos-hidenid table-striped table-bordered table-hover order-column" cellspacing="0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Tên quốc gia</th>
                    <th>Ngày tạo</th>
                    <th>Trạng thái</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
<div class="modal fade modal_cmpost" id="modal_addrow" tabindex="-1" role="dialog" aria-labelledby="modal_addrowLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_addrowLabel">Tạo mới</h4>
            </div>
            <div class="modal-body">
                <form id="form_add" autocomplete="off">
                    

                    <div class="portlet light bordered">

                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-settings font-red-sunglo"></i>
                                <span class="caption-subject bold uppercase">Quốc gia</span>
                            </div>
                            
                        </div>

                        <div class="portlet-body form row">
                            <div class="form-group col-sm-6">
                                <label class="lang_label">
                                    <span>Tên quốc gia</span>
                                    
                                </label>
                            
                                <input name="name" data-lang="vn" type="text" placeholder="" class="form-control value_lang active">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="next-label">Trạng thái</label>
                                <select class="form-control" name="status">
                                    <option value="0">Kích hoạt</option>
                                    <option value="1">Tạm dừng</option>
                                </select>
                            </div>

                        </div>

                    </div>
                        
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn_addrow"><i class="fas fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal_cmpost" id="modal_editrow" tabindex="-1" role="dialog" aria-labelledby="edit-modalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-modalLabel">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                <form id="form_edit" autocomplete="off">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn_editrow"><i class="fas fa-pencil-alt"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>