<div class="row">

    <div class="col-sm-12">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>
            </div>

            <div class="portlet-body form">

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="next-label">Họ tên</label>
                        <input ng-required="true" type="text" class="form-control" ng-model="authority.fullname" >
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="next-label">Ngày sinh</label>
                        <input type="text" class="form-control" ng-model="authority.birthday" >
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="next-label">Chức vụ</label>
                        <input type="text" class="form-control" ng-model="authority.office">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="next-label">Ngày làm</label>
                        <input type="text" class="form-control" ng-model="authority.workday" >
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="next-label">username</label>
                        <input ng-required="true" type="text" class="form-control" ng-model="authority.name" >
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="next-label">Email</label>
                        <input type="text" class=" form-control" ng-model="authority.email">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="next-label">mật khẩu</label>
                        <input ng-required="true" type="password" class="form-control" ng-model="authority.password" >
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="next-label">Trạng thái</label>
                        <select class="form-control" ng-required="true" name="status" ng-model="authority.status">
                            <option value="0">Kích hoạt</option>
                            <option value="1">Tạm dừng</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="next-label">Quyền</label>
                    <select class="form-control select2-function"></select>
                </div>

            </div>

        </div>

    </div>

</div>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>