<form class="row" id="form_box">

    <div class="col-sm-8">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>

                <div class="actions box_lang_muti">
                    <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <span class="name_mod">Vietnam</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a data-lang="vn" class="pick_lang_muti" href="javascript:;">Vietnam</a>
                            </li>
                            <li>
                                <a data-lang="en" class="pick_lang_muti" href="javascript:;">English</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="portlet-body form">

                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="lang_label">
                                <span>Tên sản phẩm</span>
                                <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                                <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                            </label>

                            <input name="title" data-lang="vn" type="text" placeholder="Tên sản phẩm" class="form-control value_lang active" ng-model="item_project.title">
                            <input name="title_en" data-lang="en" type="text" placeholder="Tên sản phẩm (English)" class="form-control value_lang" ng-model="item_project.title_en">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="next-label">Trạng thái</label>
                            <select class="form-control" name="status" ng-model="item_project.status">
                                <option value="0">Kích hoạt</option>
                                <option value="1">Tạm dừng</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Mô tả ngắn</span>
                        <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                        <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                    </label>
                
                    <textarea name="summary" data-lang="vn" placeholder="Nhập mô tả ngắn" class="form-control value_lang active" ng-model="item_project.summary" rows="5"></textarea>
                
                    <textarea name="summary_en" data-lang="en" placeholder="Nhập mô tả ngắn (English)" class="form-control value_lang" ng-model="item_project.summary_en" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <label class="lang_label">
                        <span>Nội dung</span>
                        <span data-lang="en" class="lang_alt">(English)</span>
                        <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                        <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                    </label>
                    
                    <div class="value_lang active" data-lang="vn">
                        <textarea id="content" class="form-control"></textarea>
                    </div>
                
                    <div class="value_lang" data-lang="en">
                        <textarea id="content_en" class="form-control"></textarea>
                    </div>
                </div>

            </div>

        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Thông tin</span>
                </div>

                <div class="actions box_lang_muti">
                    <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <span class="name_mod">Vietnam</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a data-lang="vn" class="pick_lang_muti" href="javascript:;">Vietnam</a>
                            </li>
                            <li>
                                <a data-lang="en" class="pick_lang_muti" href="javascript:;">English</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="next-label">Mã sản phẩm</label>
                            <input type="text" class="form-control" name="masp" ng-model="item_project.masp">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="lang_label">
                                <span>Tình trạng</span>
                                <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                                <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                            </label>

                            <input name="tinhtrang" data-lang="vn" type="text" placeholder="Tình trạng" class="form-control value_lang active" ng-model="item_project.tinhtrang">
                            <input name="tinhtrang_en" data-lang="en" type="text" placeholder="Tình trạng (English)" class="form-control value_lang" ng-model="item_project.tinhtrang_en">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="next-label">Thương hiệu</label>
                            <select id="thuonghieu" class="form-control" name="id_thuonghieu"></select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="lang_label">
                                <span>Giá hãng</span>
                                <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                                <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                            </label>

                            <input name="giahang" data-lang="vn" type="text" placeholder="Giá hãng" class="form-control value_lang active" ng-model="item_project.giahang">
                            <input name="giahang_en" data-lang="en" type="text" placeholder="Giá hãng (English)" class="form-control value_lang" ng-model="item_project.giahang_en">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="next-label">Chiết khấu</label>
                            <input type="number" class="form-control" name="chietkhau" ng-model="item_project.chietkhau">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="next-label">Giá bán</label>
                            <input type="number" class="form-control" name="price" ng-model="item_project.price">
                        </div>
                    </div>
                </div>
                

                <div class="form-group">
                    <label class="lang_label">
                        <span>Tài liệu</span>
                        <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                        <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                    </label>
                    <a target="_blank" class="value_lang active" data-lang="vn" href="/public/img/upload/item_projects/{{item_project.tailieu}}">Download</a>
                    <a target="_blank" class="value_lang" data-lang="en" href="/public/img/upload/item_projects/{{item_project.tailieu_en}}">Download</a>
                    <input data-lang="vn" type="file" class="form-control value_lang active tailieu">
                    <input data-lang="en" type="file" class="form-control value_lang tailieu_en">
                </div>
            </div>
        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Tối ưu SEO</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="next-label">Meta title</label>
                    <input type="text" class="form-control" name="meta_title" ng-model="item_project.meta_title">
                </div>

                <div class="form-group">
                    <label class="next-label">Meta description</label>
                    <textarea rows="5" class="form-control" name="meta_description" ng-model="item_project.meta_description"></textarea>
                </div>

            </div>
        </div>

    </div>

    <div class="col-sm-4">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Hình đại diện</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <div class="file_upload_box">
                        <input type="file" class="file_image">
                        <img class="image_review" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Danh mục</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="load_cat"></div>
            </div>
        </div>
        
    </div>

</form>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>