<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered custom-list-data1">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase" ng-bind="title"></span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="search-bar">
            <div class="row">
                <div class="col-sm-4">
                    <a href="" class="btn-green btn-green-trans btn-add ctr_modal_addrow">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Tạo mới</span>
                    </a>
                </div>

                <div class="col-sm-8 c-boxctr-search">
                    <input type="text" placeholder="Từ khóa" class="form-control search_title">
                    <button class="btn-ctrl btn-cyan-trans btn-search" type="button" ng-click="search_datatable()">
                        <i class="fa fa-search"></i>
                        <span>Tìm kiếm</span>
                    </button>
                </div>
            </div>

        </div>
        <table id="tbl-data" class="table pos-hidenid table-striped table-bordered table-hover order-column" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Position</th>
                    <th>Vị trí</th>
                    <th>Họ tên</th>
                    <th>Mẫu website</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Link domain</th>
                    <th>Chi phí($)</th>
                    <th>Bắt đầu</th>
                    <th>Số ngày</th>
                    <th>Tình trạng</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->

<div class="modal fade modal_cmpost" id="modal_addrow" tabindex="-1" role="dialog" aria-labelledby="modal_addrowLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_addrowLabel">Tạo mới</h4>
            </div>
            <div class="modal-body">
                <form id="form_add" autocomplete="off">
                    <div class="form-group">
                        <label class="lang_label">
                            <span>Họ tên</span>
                        </label>
                    
                        <input name="title" data-lang="vn" type="text" class="form-control value_lang active">
                        
                    </div>

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Mẫu Website</span>
                        </label>
                    
                        <input name="link" data-lang="vn" type="text" class="form-control value_lang active">
                    </div>
                    <div class="form-group">
                        <label class="lang_label">
                            <span>Link domain khách</span>
                        </label>
                    
                        <input name="link_domain" data-lang="vn" type="text" class="form-control value_lang active">
                    </div>

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Email</span>
                        </label>
                    
                        <input name="email" data-lang="vn" type="text" class="form-control value_lang active">
                    </div>

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Số điện thoại</span>
                        </label>
                    
                        <input name="phone" data-lang="vn" type="text" class="form-control value_lang active">
                    </div>
                    <div class="form-group">
                        <label class="lang_label">
                            <span>Số năm đăng ký</span>
                        </label>
                    
                        <input name="sonam" data-lang="vn" type="text" class="form-control value_lang active">
                    </div>
                    <div class="form-group">
                        <label class="lang_label">
                            <span>Chi phí($)</span>
                        </label>
                    
                        <input name="chiphi" data-lang="vn" type="number" class="form-control value_lang active">
                    </div>
                    <div class="form-group">
                        <label class="lang_label">
                            <span>Số tiền đã thanh toán($)</span>
                        </label>
                    
                        <input name="giaidoan1" data-lang="vn" type="number" class="form-control value_lang active">
                    </div>
                    <div class="form-group">
                        <label class="lang_label">
                            <span>Số tiền còn lại($)</span>
                        </label>
                    
                        <input name="giaidoan2" data-lang="vn" type="number" class="form-control value_lang active">
                    </div>

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Ngày bắt đầu</span>
                        </label>
                    
                        <input name="start" id="start" data-lang="vn" type="text" class="form-control value_lang active">
                    </div>
                    <div class="form-group">
                        <label class="next-label">Trạng thái</label>
                        <select id="active_post" class="form-control" ng-required="true" name="status">
                            <option value="2">Đang trao đổi</option>
                            <option value="1">Đang code</option>
                            <option value="0">Đã chốt </option>
                        </select>
                        
                    </div>
                    <div class="form-group">
                        <label class="lang_label">
                            <span>Tính năng thêm</span>
                        </label>

                        <textarea name="tinhnang" data-lang="vn" class="form-control value_lang active" rows="1"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="lang_label">
                            <span>Người xử lý</span>
                        </label>

                        <textarea name="nhanvienxuly" class="form-control" rows="1"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Ghi chú</span>
                        </label>
                    
                        <textarea name="summary" data-lang="vn" class="form-control value_lang active" rows="10"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn_addrow"><i class="fas fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal_cmpost" id="modal_editrow" tabindex="-1" role="dialog" aria-labelledby="edit-modalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-modalLabel">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                <form id="form_edit" autocomplete="off">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn_editrow"><i class="fas fa-pencil-alt"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>