<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span ng-bind="detail_block_title"></span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<!-- BEGIN PAGE TITLE-->
<h1 class="page-title" ng-bind="detail_block_title"></h1>
<!-- END PAGE TITLE-->

<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS 1-->


<div class="clearfix"></div>

<script src="/public/html/dashboard/index.js"></script>