<form class="row" id="form_box">

    <div class="col-sm-8">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>

                
            </div>

            <div class="portlet-body form row">

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Họ tên</span>
                        
                    </label>

                    <input name="fullname" data-lang="vn" type="text" class="form-control value_lang active" ng-model="user.fullname">
                    
                </div>
                

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Username</span>
                        
                    </label>

                    <input name="name" data-lang="vn" type="text" class="form-control value_lang active" ng-model="user.name">
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Password</span>
                        
                    </label>

                    <input name="password" data-lang="vn" type="password" class="form-control value_lang active">
                    
                </div>

                <div class="form-group col-sm-6">
                    <label class="next-label">Phòng ban</label>
                    <select class="form-control" name="id_usergroup" id="id_usergroup"></select>
                </div>

                <div class="form-group col-sm-6">
                    <label class="next-label">Phân cấp</label>
                    <select class="form-control" name="id_customerlavel" id="id_customerlavel"></select>
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Số điện thoại</span>
                    </label>
                    <input name="phone" id="phone" data-lang="vn" type="text" class="form-control value_lang active" ng-model="user.phone">
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Email</span>
                    </label>
                    <input name="email" data-lang="vn" type="text" class="form-control value_lang active" ng-model="user.email">
                </div>
                <div class="form-group col-sm-12">
                    <label class="lang_label">
                        <span>Địa chỉ</span>
                    </label>
                    <input name="address" data-lang="vn" type="text" class="form-control value_lang active" ng-model="user.address">
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Chức vụ</span>
                    </label>
                    <input name="chucvu" data-lang="vn" type="text" class="form-control value_lang active" ng-model="user.chucvu">
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Lương</span>
                    </label>
                    <input name="wage" data-lang="vn" type="text" class="form-control value_lang active" ng-model="user.wage">
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Ngày thử việc</span>
                        
                    </label>

                    <input name="probationaryday" data-lang="vn" type="text" data-language='en' id="probationaryday" class="form-control value_lang active datepicker-here" ng-model="user.probationaryday" readonly>
                    
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Ngày làm chính thức</span>
                        
                    </label>

                    <input name="officialday" data-lang="vn" type="text" data-language='en' id="officialday" class="form-control value_lang active datepicker-here" ng-model="user.officialday" readonly>
                    
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Ngày sinh</span>
                        
                    </label>

                    <input name="birthday" data-lang="vn" type="text" data-language='en' id="birthday" class="form-control value_lang active datepicker-here" ng-model="user.birthday" readonly>
                    
                </div>
                <div class="form-group col-sm-6">
                    <label class="lang_label">
                        <span>Ngày nghỉ</span>
                        
                    </label>

                    <input name="restday" data-lang="vn" type="text" data-language='en' id="restday" class="form-control value_lang active datepicker-here" ng-model="user.restday" readonly>
                    
                </div>
                

            </div>

        </div>

        

    </div>

    <div class="col-sm-4">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Hình đại diện</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <div class="file_upload_box">
                        <input type="file" class="file_image">
                        <img class="image_review" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>

</form>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>